In [1]:
import pandas as pd
bihar_weather = pd.DataFrame({
    "Cities" : ["Patna", "Gaya", "Munger"],
    "Temperature" : [32, 35, 29],
    "Windspeed" : [6, 7, 5] })
bihar_weather

   Cities  Temperature  Windspeed
0   Patna           32          6
1    Gaya           35          7
2  Munger           29          5

In [2]:
up_weather = pd.DataFrame({
    "Cities" : ["Lucknow", "Allahabad", "Gonda"],
    "Temperature" : [30, 33, 28],
    "Windspeed" : [7, 5, 6] })
up_weather

      Cities  Temperature  Windspeed
0    Lucknow           30          7
1  Allahabad           33          5
2      Gonda           28          6

In [3]:
df = pd.concat([bihar_weather, up_weather], ignore_index = True)
df

      Cities  Temperature  Windspeed
0      Patna           32          6
1       Gaya           35          7
2     Munger           29          5
3    Lucknow           30          7
4  Allahabad           33          5
5      Gonda           28          6

In [4]:
df =pd.concat([bihar_weather, up_weather], keys = ['bihar', 'up'])
df

            Cities  Temperature  Windspeed
bihar 0      Patna           32          6
      1       Gaya           35          7
      2     Munger           29          5
up    0    Lucknow           30          7
      1  Allahabad           33          5
      2      Gonda           28          6

In [5]:
df.loc['up']

      Cities  Temperature  Windspeed
0    Lucknow           30          7
1  Allahabad           33          5
2      Gonda           28          6

In [6]:
temperature_df = pd.DataFrame({
    "cities": ["Patna", "Kolkata", "Guwahati"],
    "temperature": [34, 30, 28]
})
windspeed_df = pd.DataFrame({
    "cities": ["Patna", "Kolkata", "Guwahati"],
    "Windspeed": [4, 6, 8]
})

In [7]:
df = pd.concat([temperature_df, windspeed_df], axis = 1)
df

     cities  temperature    cities  Windspeed
0     Patna           34     Patna          4
1   Kolkata           30   Kolkata          6
2  Guwahati           28  Guwahati          8

In [8]:
s = pd.Series(["Dry", "Humid", "Rain"], name = "event")
s

0      Dry
1    Humid
2     Rain
Name: event, dtype: object

In [9]:
df = pd.concat([df, s], axis = 1)
df

     cities  temperature    cities  Windspeed  event
0     Patna           34     Patna          4    Dry
1   Kolkata           30   Kolkata          6  Humid
2  Guwahati           28  Guwahati          8   Rain