In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("weather.csv")

In [3]:
pd

In [4]:
df

          day  temperature  windspeed   event
0  01-01-2017           32          6    rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2    snow
3  01-04-2017           24          7    snow
4  01-05-2017           32          4    rain
5  01-06-2017           32          2  sunny

In [5]:
weather_data = {'day':['01-01-2017', '01-02-2017', '01-03-2017', '01-04-2017', '01-05-2017', '01-06-2017'],
                'temperature': [32, 35, 28, 24, 32, 32],
                'windspeed': [6, 7, 2, 7, 4, 2],
                'event': ['rainy', 'sunny', 'snow', 'snow', 'rainy', 'sunny']
}

In [6]:
df_dict = pd.DataFrame(weather_data)

In [7]:
df_dict

          day  temperature  windspeed  event
0  01-01-2017           32          6  rainy
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2   snow
3  01-04-2017           24          7   snow
4  01-05-2017           32          4  rainy
5  01-06-2017           32          2  sunny

In [8]:
rows, columns = df.shape

In [9]:
rows

6

In [10]:
columns

4

In [11]:
df.head()

          day  temperature  windspeed   event
0  01-01-2017           32          6    rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2    snow
3  01-04-2017           24          7    snow
4  01-05-2017           32          4    rain

In [12]:
df.head(2)

          day  temperature  windspeed   event
0  01-01-2017           32          6    rain
1  01-02-2017           35          7  sunny

In [13]:
df.tail(2)

          day  temperature  windspeed   event
4  01-05-2017           32          4    rain
5  01-06-2017           32          2  sunny

In [14]:
df[3:10]

          day  temperature  windspeed   event
3  01-04-2017           24          7    snow
4  01-05-2017           32          4    rain
5  01-06-2017           32          2  sunny

In [15]:
df[:4]

          day  temperature  windspeed   event
0  01-01-2017           32          6    rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2    snow
3  01-04-2017           24          7    snow

In [16]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [17]:
df.day

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [18]:
type(df['event'])

pandas.core.series.Series

In [19]:
df[['event', 'day']]

    event         day
0    rain  01-01-2017
1  sunny   01-02-2017
2    snow  01-03-2017
3    snow  01-04-2017
4    rain  01-05-2017
5  sunny   01-06-2017

In [20]:
df.temperature.min()

24

In [21]:
df.windspeed.max()

7

In [22]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [23]:
df[df.temperature >=20]

          day  temperature  windspeed   event
0  01-01-2017           32          6    rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2    snow
3  01-04-2017           24          7    snow
4  01-05-2017           32          4    rain
5  01-06-2017           32          2  sunny

In [24]:
df[df.windspeed == df.windspeed.max()]

          day  temperature  windspeed   event
1  01-02-2017           35          7  sunny
3  01-04-2017           24          7    snow

In [25]:
df['temperature'][df.temperature == df.temperature.max()]

1    35
Name: temperature, dtype: int64

In [26]:
df[['temperature', 'day']][df.temperature == df.temperature.max()]

   temperature         day
1           35  01-02-2017

In [27]:
df.set_index('day')

            temperature  windspeed   event
day
01-01-2017           32          6    rain
01-02-2017           35          7  sunny
01-03-2017           28          2    snow
01-04-2017           24          7    snow
01-05-2017           32          4    rain
01-06-2017           32          2  sunny

In [28]:
df

          day  temperature  windspeed   event
0  01-01-2017           32          6    rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2    snow
3  01-04-2017           24          7    snow
4  01-05-2017           32          4    rain
5  01-06-2017           32          2  sunny

In [29]:
df.set_index('day', inplace = True)

In [30]:
df

            temperature  windspeed   event
day
01-01-2017           32          6    rain
01-02-2017           35          7  sunny
01-03-2017           28          2    snow
01-04-2017           24          7    snow
01-05-2017           32          4    rain
01-06-2017           32          2  sunny

In [31]:
df.reset_index(inplace = True)

In [32]:
df

          day  temperature  windspeed   event
0  01-01-2017           32          6    rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2    snow
3  01-04-2017           24          7    snow
4  01-05-2017           32          4    rain
5  01-06-2017           32          2  sunny

In [33]:
df.set_index('event', inplace = True)
df

               day  temperature  windspeed
event
rain    01-01-2017           32          6
sunny   01-02-2017           35          7
snow    01-03-2017           28          2
snow    01-04-2017           24          7
rain    01-05-2017           32          4
sunny   01-06-2017           32          2

In [34]:
df.loc['snow']

              day  temperature  windspeed
event
snow   01-03-2017           28          2
snow   01-04-2017           24          7

In [35]:
df.reset_index

<bound method DataFrame.reset_index of                day  temperature  windspeed
event
rain    01-01-2017           32          6
sunny   01-02-2017           35          7
snow    01-03-2017           28          2
snow    01-04-2017           24          7
rain    01-05-2017           32          4
sunny   01-06-2017           32          2>

In [36]:
df.reset_index(inplace = True)

In [37]:
df

    event         day  temperature  windspeed
0    rain  01-01-2017           32          6
1  sunny   01-02-2017           35          7
2    snow  01-03-2017           28          2
3    snow  01-04-2017           24          7
4    rain  01-05-2017           32          4
5  sunny   01-06-2017           32          2

In [38]:
weather_tplist = []

for i in range(len(list(weather_data.values())[0])):
    tp = []
    j = 0
    for cols, ls in weather_data.items():
        tp.append(ls[i])
        j+=1
    tp = tuple(tp)
    weather_tplist.append(tp)

In [39]:
df = pd.DataFrame(weather_tplist, columns = ['day', 'temperature', 'windspeed', 'event'])

In [40]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6  rainy
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2   snow
3  01-04-2017           24          7   snow
4  01-05-2017           32          4  rainy
5  01-06-2017           32          2  sunny