In [1]:
import pandas as pd
import sqlalchemy

In [2]:
# engine = sqlalchemy.create_engine('my_sql+pymysql://root@localhost:3306/application')
# df = pd.read_sql_table("customers", engine, columns = ['name'])

In [3]:
df = pd.read_csv('customers.csv')
df

     Customer Name  Customer Phone
0     rafael nadal      4567895647
1  maria sharapova       434534545
2   vladimir putin        89345345
3      kim un jong       123434456
4       jeff bezos       934534543
5     rahul gandhi        44324222

In [4]:
df.rename(columns = {'Customer Name': "name", "Customer Phone" : "phone number"}, inplace = True)
df # Change the column name corresponding to that in the sql database

              name  phone number
0     rafael nadal    4567895647
1  maria sharapova     434534545
2   vladimir putin      89345345
3      kim un jong     123434456
4       jeff bezos     934534543
5     rahul gandhi      44324222

In [5]:
# df.to_sql(
#     name = 'customers',
#     con = engine,
#     index = False,
#     if_exists = 'append'
# ) # Add csv df to sql table