In [1]:
import pandas as pd
df = pd.read_csv("aapl_no_dates.csv")
df

      Open    High     Low   Close    Volume
0   153.17  153.33  152.22  153.18  16404088
1   153.58  155.45  152.89  155.45  27770715
2   154.34  154.45  153.46  153.93  25331662
3   153.90  155.81  153.78  154.45  26624926
4   155.02  155.98  154.48  155.37  21069647
5   155.25  155.54  154.40  154.99  21250798
6   155.19  155.19  146.02  148.98  64882657
7   145.74  146.09  142.51  145.42  72307330
8   147.16  147.45  145.15  146.59  34165445
9   147.50  147.50  143.84  145.16  31531232
10  143.32  144.48  142.21  144.29  32165373
11  143.78  144.50  142.20  142.27  50361093
12  143.66  146.74  143.66  146.34  32541404
13  146.87  146.87  144.94  145.01  24900073
14  145.52  146.07  144.61  145.87  21265751
15  145.77  146.70  145.12  145.63  19106294
16  145.13  147.16  145.11  146.28  35439389
17  147.17  148.28  145.38  145.82  25692361
18  145.01  146.16  143.62  143.73  24761891
19  144.49  146.11  143.16  145.83  22082432
20  144.71  145.13  142.28  143.68  31499368
21  144.45  144.96  143.78  144.02  23024107

In [2]:
pd.date_range(start = '2017-07-01', end = '2017-07-21', freq = 'B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [3]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
usb = CustomBusinessDay(calendar = USFederalHolidayCalendar())
usb

In [4]:
pd.date_range(start = '2017-07-01', end = '2017-07-21', freq = usb)

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [5]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

class MyCalendar(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """
    rules = [
        Holiday("My Birthday", month=10, day=9, observance=nearest_workday),
        Holiday("Someone's Birthday", month = 10, day = 4, observance = nearest_workday),
    ]   # observance = nearest_workday shifts the holiday if it drops in an already present holiday
         # 4th is a sunday so 5th falls as a holiday for 4th
myc = CustomBusinessDay(calendar = MyCalendar())
myc

In [6]:
pd.date_range(start = '2020-10-01', end = '2020-10-20', freq = 'B')

DatetimeIndex(['2020-10-01', '2020-10-02', '2020-10-05', '2020-10-06',
               '2020-10-07', '2020-10-08', '2020-10-09', '2020-10-12',
               '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16',
               '2020-10-19', '2020-10-20'],
              dtype='datetime64[ns]', freq='B')

In [7]:
pd.date_range(start = '2020-10-01', end = '2020-10-20', freq = myc)

DatetimeIndex(['2020-10-01', '2020-10-02', '2020-10-06', '2020-10-07',
               '2020-10-08', '2020-10-12', '2020-10-13', '2020-10-14',
               '2020-10-15', '2020-10-16', '2020-10-19', '2020-10-20'],
              dtype='datetime64[ns]', freq='C')

In [8]:
week_in_egypt = CustomBusinessDay(weekmask = 'Sun Mon Wed Thu', holidays = ['2020-10-01'])
pd.date_range(start = '2020-10-01', end = '2020-10-20', freq = week_in_egypt) 
# week includes only weekmask

DatetimeIndex(['2020-10-04', '2020-10-05', '2020-10-07', '2020-10-08',
               '2020-10-11', '2020-10-12', '2020-10-14', '2020-10-15',
               '2020-10-18', '2020-10-19'],
              dtype='datetime64[ns]', freq='C')