In [1]:
import pandas as pd

y = pd.Period('2017')
y

Period('2017', 'A-DEC')

In [2]:
y.start_time

Timestamp('2017-01-01 00:00:00')

In [3]:
y.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [4]:
m = pd.Period('2016-12', 'M')
m

Period('2016-12', 'M')

In [5]:
m.start_time

Timestamp('2016-12-01 00:00:00')

In [6]:
m.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [7]:
m + 1

Period('2017-01', 'M')

In [8]:
d = pd.Period('2017-02-28', 'D')
d + 1

Period('2017-03-01', 'D')

In [9]:
h = pd.Period('2017-02-28 19:01:23', 'H')
h

Period('2017-02-28 19:00', 'H')

In [10]:
h.start_time

Timestamp('2017-02-28 19:00:00')

In [11]:
h.end_time

Timestamp('2017-02-28 19:59:59.999999999')

In [12]:
h - 6

Period('2017-02-28 13:00', 'H')

In [13]:
h + pd.offsets.Hour(5)

Period('2017-03-01 00:00', 'H')

In [14]:
q = pd.Period('2017q1')
q

Period('2017Q1', 'Q-DEC')

In [15]:
1+q

Period('2017Q2', 'Q-DEC')

In [16]:
q.end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [17]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [18]:
q_walmart = pd.Period('2017q1', freq = 'Q-Jan')
q # freq change quarterly period

Period('2017Q1', 'Q-DEC')

In [19]:
q_walmart.start_time

Timestamp('2016-02-01 00:00:00')

In [20]:
q_walmart.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [21]:
q.asfreq('D', how = 'start') #similiar to start_time

Period('2017-01-01', 'D')

In [22]:
q.asfreq('D', how = 'end') #similiar to end_time

Period('2017-03-31', 'D')

In [23]:
q2 = pd.Period('2018q2')
q2

Period('2018Q2', 'Q-DEC')

In [24]:
q2 - q

In [25]:
idx = pd.period_range('2011', '2017', freq='Q-Jan')
idx # 2011 means fiscal 2011 so starts from Q4

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [26]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [27]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [28]:
idx = pd.period_range('2011', periods = 10, freq='Q-Jan')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [29]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4   -1.126461
2012Q1    2.437674
2012Q2    1.388885
2012Q3    1.094034
2012Q4    1.015450
2013Q1    0.496415
2013Q2   -0.608079
2013Q3    0.729795
2013Q4    0.852587
2014Q1   -1.815585
Freq: Q-JAN, dtype: float64

In [30]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [31]:
ps['2011' : '2012']

2011Q4   -1.126461
2012Q1    2.437674
2012Q2    1.388885
2012Q3    1.094034
2012Q4    1.015450
2013Q1    0.496415
2013Q2   -0.608079
2013Q3    0.729795
2013Q4    0.852587
Freq: Q-JAN, dtype: float64

In [32]:
pst = ps.to_timestamp()
pst

2010-11-01   -1.126461
2011-02-01    2.437674
2011-05-01    1.388885
2011-08-01    1.094034
2011-11-01    1.015450
2012-02-01    0.496415
2012-05-01   -0.608079
2012-08-01    0.729795
2012-11-01    0.852587
2013-02-01   -1.815585
Freq: QS-NOV, dtype: float64

In [33]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [34]:
pst.to_period

<bound method Series.to_period of 2010-11-01   -1.126461
2011-02-01    2.437674
2011-05-01    1.388885
2011-08-01    1.094034
2011-11-01    1.015450
2012-02-01    0.496415
2012-05-01   -0.608079
2012-08-01    0.729795
2012-11-01    0.852587
2013-02-01   -1.815585
Freq: QS-NOV, dtype: float64>

In [35]:
df = pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [36]:
df.set_index('Line Item', inplace = True)
df = df.T #Transpose
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [37]:
# st = []
# et = []
# for i in range(len(df.index)):
#     t = pd.Period(df.index[i], freq = 'Q-Jan')
#     st.append((t.start_time).date())
#     et.append((t.end_time).date())
# df['Start Date'] = st
# df['End Date'] = et
# df

In [38]:
df.index = pd.PeriodIndex(df.index, freq = 'Q-JAN')
df['Start Date'] = df.index.map(lambda x : x.start_time.date())
df['End Date'] = df.index.map(lambda x : x.end_time.date())
df

Line Item  Revenue  Expenses  Profit  Start Date    End Date
2017Q1      115904     86544   29360  2016-02-01  2016-04-30
2017Q2      120854     89485   31369  2016-05-01  2016-07-31
2017Q3      118179     87484   30695  2016-08-01  2016-10-31
2017Q4      130936     97743   33193  2016-11-01  2017-01-31
2018Q1      117542     87688   29854  2017-02-01  2017-04-30